{% extends "::base.html.twig" %}

{% block title %}PregunteMePresentacionBundle:Web:index{% endblock %}

{% block body %}
<h1>Pagina inicial del proyecto PregunteMe</h1>

{% if not app.session.get('modulo') is null %}
	<a class="btn btn-info" href="{{path('inscripcion')}}">Inscribir una nueva evaluaci√≥n de un {{app.session.get('modulo')}}</a>
{% else %}
	<a class="btn btn-info" href="{{path("seleccion_modulo")}}">Seleccionar MÛdulo</a>
{% endif %}

{% endblock %}
