{% extends "::base.html.twig" %}

{% block title %}PregunteMePresentacionBundle:Web:inscripcion{% endblock %}

{% block body %}
<form class="smart-green" method="POST">
	<h1>
		Formulario de inscripción
        <span>Por favor llenar todos los datos del formulario.</span>
    </h1>
    <label>
        <span>Nombre :</span>
        <input id="nombre" type="text" name="nombre" placeholder="Ingrese su nombre" />
    </label>
    <label>
        <span>Correo :</span>
        <input id="correo" type="email" name="correo" placeholder="Ingrese un correo valido" />
    </label>
   
    <label>
        <span>Institución :</span>
        <input id="institucion" type="text" name="institucion" placeholder="Ingrese el nombre de la institución" />
    </label>
    <label>
        <span>Programa :</span>
        <input id="programa" type="text" name="programa" placeholder="Ingrese el nombre del programa" />
    </label>
    <label>
        <span>{{datos.entorno}} :</span>
        <input id="objeto" type="text" name="objeto" placeholder="Ingrese el identificador del {{datos.entorno}}" />
    </label>
     <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Inscribirse" />
    </label>    
</form>
{% endblock %}
