{% extends "::base.html.twig" %}

{% block title %}PregunteMePresentacionBundle:Web:resultados{% endblock %}

{% block body %}
<h1>Selección de modulo</h1>

<form >
<select name="modulo">
{% for modulo in modulos %}
	<option value="{{modulo.nombre}}">{{modulo.nombre}}</option>
{% endfor %}
<input type="submit" value="Seleccionar modulo"/>
</form>

{% endblock %}
